img{
    width: 30%;
    height: 300px;
    float: left;
    margin: 1.66%;
}
p{
 font-family: 'noto serif',serif;
 text-align: center;
 font-size: 25px;
 font-weight: 800;
 border: 10px solid red;
 padding-bottom: 20px;   
}