body{
    border: 10px solid purple;
    padding: 10px;
    width: 700px;
    margin: 10px auto;
    font-family: 'yanone kaffeesatz',sans-serif;
}
.mainp{
    border-left: 3px solid orange;
    padding-left: 3px;
}
.date{
    text-transform: uppercase;
    color: black;
    letter-spacing: 5px;
}
h2{
    color: blue;
    font-size: 1.0em;
}
.post{
    margin-bottom: 20px;
}
hr{
    height: 8px; border: 0; box-shadow: inset 0 8px 8px 8px rgba(0,0,0,0.5);
}