h1{
    font-family:"goudy bookletter 1911" serif ;
}
td{
    height: 600px;
    width: 200px;
    border: 6px solid black;
}
.one{
    background: red;
}
#two{
    background: green;
}
#three{
    background:yellow ;
}
#four{
    background: blue;
}
#five{
    background: violet;
}
#six{
    background: purple;
}
#seven{
    background: indigo;
}